<configuration>
    <conversionRule conversionWord="maskedMsg"
                    class="com.careerfit.common.logging.MaskingMessageConverter"/>
    <conversionRule conversionWord="maskedEx"
                    class="com.careerfit.common.logging.MaskingThrowableProxyConverter"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%thread] %logger{36} - %maskedMsg%n%maskedEx</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
